.DS_Store
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### 제거파일 ###
### main ###
WinningAmounts.java
WinningCounts.java
LottoStatistics.java
Lotto.java

### test ###
WinningAmountsTest.java
WinningCountsTest.java
LottoStatisticsTest.java
LottoTest.java

### 기타 ###
RegexTest.java
