<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로또</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<style>
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-lotto {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-lotto .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.submit-button {
	margin-top: 10px;
}
</style>

</head>
<body>

<div class="container">
	<div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-4">
		<form class="form-lotto" method="post" action="/buyLotto">
			<h2 class="text-center">로또 게임</h2>
			<div class="input-group">
				<div class="input-group-addon">￦</div>
				<input type="number" id="inputMoney" class="form-control"
					name="inputMoney" placeholder="금액 입력" required autofocus>
			</div>
			<div class="form-show-div" class="form-group">
				<h2>수동 구매 번호</h2>
				예) 1,2,3,4,5,6(한 라인에 6개를 입력해주세요.)
				<textarea class="form-control" rows="3" name="manualNumber" 
				placeholder="1,2,3,4,5,6
1,2,3,4,5,6"></textarea>
			</div>		
			<div class="submit-button">
				<button class="btn btn-lg btn-primary btn-block" type="submit">로또
					구매</button>
			</div>
		</form>	  
	  </div>
	  <div class="col-md-4"></div>
	</div>
</div>

</body>
</html>