<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<style>
body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}
</style>

<style>
.pre-scrollable {
	width: 400px;
	margin: 0 auto;
}

.table {
	width: 200px;
	margin: 0 auto;
}

.form-show {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-show .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.submit-button{
	margin-top: 10px;
}
</style>
</head>
<body>
<form class="form-show" method="post" action="/matchLotto">
	<div class="form-show-div form-group">
		<label for="winningNumber">지난 주 당첨 번호</label>
		<input type="text" id="winningNumber" class="form-control"
				name="winningNumber" placeholder="1,2,3,4,5,6" required autofocus>
	</div>
	<div class="form-show-div form-group">
		<label for="bonusNumber">2등 보너스 볼</label>
		<input type="text" class="form-control" id="bonusNumber"
					 name="bonusNumber" required autofocus>
	</div>
	<div class="submit-button">
		<button class="btn btn-lg btn-primary btn-block" type="submit">당첨 번호</button>
	</div>
</form>
<pre class="pre-scrollable">
	<h4 class="text-center"><{{ count }}개를 구매 하셨습니다.></h4>
	<p class="text-center">수동 : {{ manualCount }} 개 / 자동 : {{ autoCount }} 개</p>
	<table class="table">
		<thead>
			<th></th>
			<th class="text-center">로또 번호</th>
		</thead>
		<tbody>
			{{# lottos }}
			<tr>
				<th>{{@index}}</th>
				<td>{{ . }}</td>
			</tr>
			{{/ lottos}}
		</tbody>
	</table>
</pre>
</body>
<script type="text/javascript">
	(function() {
		var rows = document.querySelectorAll('tr');

		for (var i = 1; i < rows.length; i++) {
			rows[i].firstElementChild.innerText = rows[i].rowIndex;
		}
	})();
</script>
</html>